*{
    margin: 0px;
    padding: 0px;
}

$light-blue: #35a8e0;
$hover-color: #85d6ff;

$dark: #565e66;
$dark2: #2f2f2f;

$gray: #d4dbe0;
$gray2: #f4f7f9;


$md: 768px;
$lg: 992px;
$xl: 1024px;
$xxl: 1200px;


main{

    text-align: center;
    color: $dark;

    h3{
        padding-top: 30px;
        font-weight: bold;
    }



    .abauth{

        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 100px;
        margin-top: 100px;

      
        
        .circle-wrapper {
            width:501px;
            height:501px;
            border-radius:50%;            
            position:relative;
            margin:100px;

           

            @media (max-width: $lg) {        
                display: none;    
            }
         }

       

         .center-ikon{

            @media (max-width: $lg) {        
                display: none;
             }
            img{
                @media (min-width: $xl) {        
                    width:350px;                  
                }
            }

             &::after{               
                content: '';
                position: absolute;
                border-radius: 50%;
                width: 600px;
                height: 600px;
                left: -45px;
                top: -50px;
                background-color: $gray2;
                border: 3px solid $gray;
                z-index: -1;
             

                @media (min-width: $xl) {        
                    width: 450px;
                    height: 450px;
                    left: 30px;
                    top: -55px
                 }
             }
         }
         
         .circle {
            display:block;
            position:absolute;
            top:53%;
            left:53%;            
            margin:-51px;            
            border-radius:51%;
            text-align:center;
            line-height:100px;

            @media (max-width: $lg) {        
                display: none;                     
                }

                p{
                    width: 400px;
                    text-align: left;
                    padding-left: 20px;
                    font-weight: bold;
                    color: $dark2;
                    font-size: 16px;

                    @media (min-width: $lg) {        
                        width: 245px;   
                        font-size: 10px;                
                        }
                }
                
           
         }


         a{
            display: flex;
            justify-content: center;
            align-items: baseline;           
         
         }

         .img-bg{
            border-radius: 50%;
            border: 3px solid $gray;
            background-color: $gray2;
            
            @media (min-width: $xl) {        
                width: 60px;            
             }
        }

      

        .pos-1{
            position: absolute;
            top: -10px;
            left: 65px;

            @media only screen and (max-width: $xxl) and (min-width: $xl)  {      
                top: -20px;
                left: 55px;             
                }
         }

         .pos-2{
            position: absolute;
            top: 50px;
            left: -45px;

            @media (min-width: $lg) {               
                top: 30px;
                left: -28px;           
                }
         }

         .pos-3{
            position: absolute;
            top: -12px;
            left: -350px;
            @media (min-width: $lg) {               
                left: -230px;             
                }
         }

         .pos-4{
            position: absolute;
            top: -12px;
            left: -270px;
            @media (min-width: $lg) {               
                left: -180px;             
                }
         }

         .pos-5{
            position: absolute;
            top: -12px;
            left: -165px;
            @media (min-width: $lg) {               
                top: -20px;
                left: -120px;            
                }
         }

         .pos-6{
            position: absolute;
            top: -75px;
            left: -80px;

            @media (min-width: $lg) {               
                top: -75px;
                left: -48px;           
                }
         }

         .pos-7{
            position: absolute;
            top: -12px;
            left: -298px;

            @media (min-width: $lg) {               
                top: -20px;
                left: -200px;           
                }
         }
         
         .deg-0 {
            transform:translate(290px);          

             @media (min-width: $xl) {        
                transform: rotate(343deg) translate(245px) rotate(-343deg);
             } 
            
            
         }
         
         .deg-30 {
            transform:rotate(30deg) translate(290px) rotate(-30deg);
            @media (min-width: $xl) {        
                transform: rotate(10deg) translate(210px) rotate(-10deg);
             } 
            
         }
         
         .deg-60 {
            transform:rotate(60deg) translate(290px) rotate(-60deg);
            @media (min-width: $xl) {        
                transform: rotate(50deg) translate(175px) rotate(-50deg);
             } 
         
         }
         
         .deg-90 {
            transform:rotate(90deg) translate(290px) rotate(-90deg);
            @media (min-width: $xl) {        
                transform: rotate(90deg) translate(155px) rotate(-90deg);
             }            
         }
         
         .deg-120 {
            transform:rotate(120deg) translate(290px) rotate(-120deg);
            @media (min-width: $xl) {
                transform: rotate(130deg) translate(165px) rotate(-130deg);
             }
         }
         
         .deg-150 {
            transform:rotate(150deg) translate(290px) rotate(-150deg);
            @media (min-width: $xl) {
                transform: rotate(170deg) translate(195px) rotate(-170deg);
             }
         }
         
         .deg-180 {
            transform:rotate(180deg) translate(290px) rotate(-180deg);
            @media (min-width: $xl) {
                transform: rotate(197deg) translate(230px) rotate(-197deg);
             }
         }
         
         .deg-210 {
            transform:rotate(210deg) translate(290px) rotate(-210deg);
            @media (min-width: $xl) {        
                transform: rotate(221deg) translate(265px) rotate(-221deg);
             } 
         }

         .deg-240 {
            transform:rotate(240deg) translate(290px) rotate(-240deg);
            @media (min-width: $xl) {        
                transform: rotate(248deg) translate(295px) rotate(-248deg);
             }
         }

         .deg-270 {
            transform:rotate(270deg) translate(290px) rotate(-270deg);
            @media (min-width: $xl) {        
                transform: rotate(272deg) translate(300px) rotate(-272deg);
             }
         }

         .deg-300 {
            transform:rotate(300deg) translate(290px) rotate(-300deg);
            @media (min-width: $xl) {        
                transform: rotate(294deg) translate(300px) rotate(-294deg);
             }
         }

         .deg-330 {
            transform:rotate(330deg) translate(290px) rotate(-330deg);
            @media (min-width: $xl) {        
                transform: rotate(321deg) translate(280px) rotate(-321deg);
             } 
         }

          

        .mobile-content{

            @media (min-width: $lg) {        
               display: none;
            }

            a{
                img{
                    width: 100%;
                    padding: 50px;

                    @media (max-width: $lg) {        
                        width:500px;                     
                    }

                    @media (max-width: $md) {        
                        width:100%;                     
                    }
                }
            }

            .list{

                padding-bottom: 50px;
                padding-top: 50px;

                @media (max-width: $lg) {        
                   display: grid;
                   grid-template-columns: repeat(3, 1fr);
                   padding-right: 30px;
                }

                @media (max-width: $md) {        
                    grid-template-columns: repeat(1, 1fr);
                    padding-right: 0px;
                 }

                .list-item{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    text-decoration: none;
                    color: black;
                    margin-top: 20px;
                    margin-bottom: 20px;

                    @media (max-width: $lg) {        
                        justify-content: flex-start;
                     }
                    

                    img{
                        border-radius: 50%;
                        border: 1px solid $light-blue;
                        width: 90px;
                        padding: 10px;
                    }

                    p{
                        padding-bottom: 20px;
                        padding-top: 20px;
                        margin-bottom: 0px;
                        font-size: 15px;
                        font-weight: bold;
                    }

                
                }
            }
        }
    
   
    }     
     
}
  

footer{

    background-image: url('img/bg.png');
    text-align: center;

    h3{
        color: white;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    span{
        color: white;
       
    }

    a{
        color: white;
        text-decoration: none;
        &:hover{
            color: $hover-color;
        }

        @media (max-width: $md) {        
            color: $hover-color;      
            }
    }

    form{
        
        padding-top: 20px;
        padding-bottom: 20px;      

        .row{
           
            padding-bottom: 10px;
            padding-top: 10px;

            .col-md-12, .col-md-4{
                display: flex;
                justify-content: center;
            }

             @media (max-width: $md) {               
                padding-bottom: 0px !important;
                padding-top: 0px !important;        
            }

            .form-control, .selectdiv select{
                display: block;
                padding: 0.375rem 0.75rem;
                font-size: 15px;
                line-height: 1.5;
                color: black;
                background-color: #fff;
                background-clip: padding-box;
                border: 1px solid black;
                border-radius: 0.25rem;
                transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
             

                @media (max-width: $md) {        
                    margin: 5px 0px !important;  
                }
                 
                &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
                    color: black;
                    opacity: 1; /* Firefox */
                  }
                  
                  &:-ms-input-placeholder { /* Internet Explorer 10-11 */
                    color: black;
                  }
                  
                  &::-ms-input-placeholder { /* Microsoft Edge */
                    color: black;
                  }
            }

            .selectdiv {
                position: relative;
                margin-left: 0px;
                margin-right: 0px;
                width: 100%;
                
                @media (max-width: $md) {               
                    margin-bottom: 10px !important;                     
                 }

                &::after {
                    content: '\f078';
                    font: normal normal normal 17px/1 FontAwesome;
                    color: $light-blue;
                    right: 12px;
                    top: -7px;
                    height: 34px;
                    padding: 15px 0px 0px 8px;
                    position: absolute;
                    pointer-events: none;   
                    
                    @media (max-width: $md) {               
              
                       right: 12px;
                       top: 3px;     
                    }
                }
              }           
             
              select{
                  height: 100%;
                 
              }              

              option[value=""][disabled] {
                display: none;
              }

              textarea {
                resize: none;

                @media (max-width: $md) {                
                    margin-top: 10px !important; 
                 }
              }

              .form-check{
                display: flex;
                justify-content: center;             
                padding-left: 0px;

                @media (max-width: $md) {               
              
                    margin-top: 20px;  
                    margin-bottom: 20px;      
                }

                .form-check-input{
                @media (max-width: $md) {        
                    margin-left: 0px !important;       
                    }
                }


                label{
                    color: white;
                    margin-left: 10px;
                }

                a{
                    color: $light-blue;
                    &:hover{
                        color: $hover-color;
                    }
                }
              }        
            }
     
        .btn-form{
            color: white;
            background-color: $light-blue;
            
            &:hover{
                background-color: $hover-color;
                color: white;
            }

            @media (max-width: $md) {               
              
                margin-top: 20px;  
                margin-bottom: 20px;      
            }
        }       
    }
}