<!-- start Simple Custom CSS and JS -->
<style type="text/css">
.dgwt-wcas-search-wrapp {
  max-width: 270px !important;
  margin-left: 0px !important;
  margin-right: 0px !important;
  padding-left: 0px !important;
}

.woocommerce-result-count{
	display: none;
}

.ast-logo-title-inline .site-logo-img {
  padding-right: 0;
}

.site-header-section {
  justify-content: space-between !important;
}

.ast-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.dgwt-wcas-style-pirx .dgwt-wcas-sf-wrapp {
  padding: 10px 0px;
}

.dgwt-wcas-style-pirx .dgwt-wcas-sf-wrapp input[type=search].dgwt-wcas-search-input {
	border-radius: 0px !important;
	background-color: transparent !important;
	border-bottom: 1px solid black;
	border-left: none;
	border-right: none;
	border-top: none;
}
	

.site-header-section > * {
  padding: 0; 
}

.main-header-menu .menu-link, .main-header-menu > a {  
  padding: 0 0.5em;
}

.dgwt-wcas-style-pirx .dgwt-wcas-sf-wrapp button.dgwt-wcas-search-submit {
	left: 0px !important
}

.ast-builder-menu-1 .menu-item:hover > .menu-link, .ast-builder-menu-1 .inline-on-mobile .menu-item:hover > .ast-menu-toggle {
	color: #245730 !important;
}

.main-navigation ul {
	  margin-right: 15px;
}


[data-section="section-header-mobile-trigger"] .ast-button-wrap .ast-mobile-menu-trigger-minimal {
    color: transparent !important;
}

.ast-builder-menu-1 .menu-item.current-menu-item > .menu-link, .ast-builder-menu-1 .inline-on-mobile .menu-item.current-menu-item > .ast-menu-toggle, .ast-builder-menu-1 .current-menu-ancestor > .menu-link {
  color: #245730!important;
}

/* Media queries */

/* Large devices (desktops, 992px) */
@media (max-width: 992px) { 
	
	
	.main-header-menu .menu-link, .main-header-menu > a{
		padding: 0 0.2em;
	}
	
	header .custom-logo-link img {
  		max-width: 150px;
	}
	
	[data-section="section-header-mobile-trigger"] .ast-button-wrap .mobile-menu-toggle-icon .ast-mobile-svg {
  		fill: #245730;
	}

}


@media (max-width: 922px) {
	.ast-grid-right-section {
  		justify-content: flex-end !important;
	}
	
	.ast-builder-menu-mobile .main-navigation .main-header-menu .menu-item > .menu-link {  
  		text-align: center;
	}
	
	.main-navigation ul {
  		margin-right: 0px;
		border-bottom: 1px solid #e5e5e5 !important;
	}
	
	.ast-builder-menu-mobile .main-navigation .menu-item:hover > .menu-link, .ast-builder-menu-mobile .main-navigation .inline-on-mobile .menu-item:hover > .ast-menu-toggle {
  		color: #245730;	
	}
	
	.dgwt-wcas-search-wrapp {
    	width: 100% !important;
		max-width: unset !important;
	}
	
	.dgwt-wcas-style-pirx .dgwt-wcas-sf-wrapp input[type="search"].dgwt-wcas-search-input{ 
		text-align: center !important;
	}
	
	.woocommerce .woocommerce-ordering, .woocommerce-page .woocommerce-ordering {
 	 	text-align: center;
		width: 100%;
	}
	
}</style>
<!-- end Simple Custom CSS and JS -->
